<dec f='vlc/modules/demux/playlist/playlist.h' l='26' type='int Control(demux_t * , int , __va_list_tag * )'/>
<use f='vlc/modules/demux/playlist/asx.c' l='161' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/b4s.c' l='57' u='r' c='Import_B4S'/>
<use f='vlc/modules/demux/playlist/dvb.c' l='73' u='r' c='Import_DVB'/>
<use f='vlc/modules/demux/playlist/gvp.c' l='95' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/gvp.c' l='96' u='r' c='Import_GVP'/>
<use f='vlc/modules/demux/playlist/ifo.c' l='90' u='r' c='Import_IFO'/>
<use f='vlc/modules/demux/playlist/itml.c' l='53' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/m3u.c' l='108' macro='1' u='r'/>
<def f='vlc/modules/demux/playlist/playlist.c' l='150' type='int Control(demux_t * demux, int query, __va_list_tag * args)'/>
<use f='vlc/modules/demux/playlist/pls.c' l='63' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/podcast.c' l='55' u='r' c='Import_podcast'/>
<use f='vlc/modules/demux/playlist/qtl.c' l='89' u='r' c='Import_QTL'/>
<use f='vlc/modules/demux/playlist/ram.c' l='94' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/sgimb.c' l='156' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/shoutcast.c' l='66' u='r' c='Import_Shoutcast'/>
<use f='vlc/modules/demux/playlist/wpl.c' l='57' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/xspf.c' l='87' macro='1' u='r'/>
<use f='vlc/modules/demux/playlist/zpl.c' l='58' macro='1' u='r'/>
